//@use 'sass/colors';
$black: #333;

.header {
  height: auto;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  h1 {
    padding: 10px 0 0 10px;
    font-size: 36px;
    font-weight: 700;
    color: #444;
  }
}

.logo {
  text-decoration: none;
  color: $black
}

.border {
  border-image-width: 0 0 11px 0;
  border-image-slice:  16;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  border: 1rem solid transparent;
  border-image: url("./../../assets/icons/frame-solid/frame-solid-12.svg");
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image-repeat: repeat;
  background-color: transparent;
  @media(min-width: 768px) {
    border-image-slice:  6;
    border-image-width: 0 0 8px 0;
  }
}

