.card_wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-gap: 15px;
  justify-content: center;

  @media(min-width: 36.250em) { // 575px
    grid-template-columns: repeat(2, 250px);
  }
  @media(min-width: 53em) { // 848px
    grid-template-columns: repeat(3, 250px);
    grid-gap: 2em;
  }
}

.page_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c90606;
}

.container {
  width: 100%;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
