.footer {
  width: 100%;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media(min-width: 768px) {
    font-size: 1.125rem;
  }
}

.creators {
  color: #302f2f;
  //display: flex;
  //flex-direction: column;
  //width: 100%;
  //justify-content: center;
  //align-items: center;
  text-align: center;
  height: auto;
  padding: 20px 0;
  letter-spacing: 1px;
  font-size: 1rem;
  a {
    padding: 0 2px;
  }
  a:link,
  a:visited,
  a:active {
    color: #c90606;
    font-family: inherit ;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }
}

.spade_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.spade {
  width: 300px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  @media(min-width: 465px) {
    width: 25em;
    height: 30px;
    background-size: 100%;
  }
}

