.Zweihander h1,
.Zweihander h2,
.Zweihander h3,
.Zweihander h4,
.Zweihander h5,
.Zweihander h6 {
    font-family: 'MedievalSharp', cursive;
}

.Zweihander p,
.Zweihander span {
    font-family: "Palatino", serif;
}
