.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: honeydew;
}

.border {
  border-image-slice: 36;
  border: 1rem solid transparent;
  border-image: url("./../../../assets/icons/frame-solid/frame-solid-1.svg");
  border-image-repeat: stretch;
  border-image-width: 20px;
  background-color: transparent;
  @media(min-width: 768px) {
    border-image-slice: 20;
  }
}

.accent_border {
  border-image-slice: 36;
  border: 1rem solid transparent;
  border-image: url("./../../../assets/icons/frame-solid/frame-solid-1-red.svg");
  border-image-width: 20px;
  border-image-repeat: stretch;
  background-color: transparent;
  @media(min-width: 768px) {
    border-image-slice: 20;
  }
}
