@mixin box($card-w, $min-card-h, $max-card-h, $bgc) {
  width: $card-w;
  min-height: $min-card-h;
  max-height: $max-card-h;
  background: $bgc;
  @content;
}
.item {
  border-image-slice: 60;
  border-image-repeat: round;
  @include box(auto, 160px, auto, white);
  border: 1rem solid transparent;
  border-image: url("./../../../assets/icons/frame-solid/frame-solid-1.svg");
  border-image-width: 15px;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media(min-width: 768px) {
    border-image-slice: 20;
    border-image-repeat: stretch;
  }

  h3 {
    color:#c90606;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.button_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-size: 1.15rem;
  color: #444;
  background: transparent;
  border: none;
  font-weight: 700;
  width: 100%;
  height: auto;
  font-family: 'Palatino', serif;

  &:hover {
    cursor: pointer;
    color: #c90606;
  }
}
